# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtualenv
venv/
.env
.env.*

# Bytecode
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.db

# Migrations (optional if using Alembic)
alembic/versions/
